@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root
{
    --color-example: #fff;
}

html,body 
{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-size: 16px;
    text-align: center;
    color: var(--color-example);
    margin: 0;
}

.features 
{
    font-size: 1.7rem;

    & div 
    {
        padding: 0.5rem;
    }
}